<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image-Uploader-Project</title>
</head>

<body>
    <div class="container">
        <h1>Image Uploader</h1>
        <form action="/upload" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <input type="file" name="file" id="file-input" required>
            </div>
            <div class="form-group">
                <input type="submit" value="Upload Image">
            </div>
        </form>
        <div id="uploaded-image-container">
            <% if (url) { %>
                <h2>File Uploaded Successfully</h2>
                <img src="<%= url %>" alt="Uploaded Image" style="max-width: 100%; height: auto;">
                <p>Image URL: <a href="<%= url %>">
                        <%= url %>
                    </a></p>
                <% } else { %>
                    <p>No images uploaded yet.</p>
                    <%} %>
        </div>

    </div>
</body>

</html>